/*Appp*/

.App {
  text-align: center;
}
#root{
  overflow-x: hidden;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
@media only screen and (min-width: 768px){
  .mainWall{
    margin-left: 25.5%;
  }
  
}
@media only screen and (max-width: 1280px){
  .mainWall{
    margin-left: auto;
  }
  .mainwallProfile
  {
    width: 100%;
  }
}
@media only screen and (max-width: 992px){
  .tabcontent1 {
    width: 100% !important;
    
  }    
  
}
@media  only screen and (min-width: 960px){
  .ml-auto1{
    margin-left: 9%;
  }
}
@media  only screen and (min-width: 860px) and (max-width: 960px)
{
  .ml-auto1{
    margin-left: 10%;
  }
}

@media only screen and (width: 600px){
  .mainWall{
    margin-left: auto;
  }
  .mainwallProfile
  {
    width: 100%;
  }
}
/* @media only screen and (max-width: 768px){
  .mainWall{
    /* margin-left: auto; //
    display: none;
  }
  .HeaderNFbar{
    display: none;
  }
  .mainwallProfile
  {
    display: none;
  }
  #updateInfo{
    display: none;
  }
  #pleaserotate-backdrop{
    display: block !important;
  }
  .sidebar-menu{
    display: none !important;
  }
} */

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
#pleaserotate-container{
  top: 40%;
  position: relative;
}
#rightMove{
  position: relative;
  left: 35%;
  animation: moveRight 4s  infinite;
}
#leftMove{
  position: relative;
  left: 35%;
  animation: moveLeft 4s  infinite;
}

#pleaserotate-backdrop{
  top: 0rem;
  left: 0rem;
  position: fixed;
  width: 100%;
  height: 100%;
  display: none;
  background-image: linear-gradient(rgba(255,0,255,0.3), rgba(255,255,0,0.3));
  z-index: 999;
}
#pleaserotate-message {
  color: white;
  font-size: 3rem;
  text-align: center;
  text-transform: uppercase;
}
@keyframes moveRight{
  0%   {left:35%; top:0;}

  100% {left:70%; top:0;}
}
@keyframes moveLeft
{
  0%   {left:35%; top:0;}

  100% {left:0%; top:0;}
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.btnLogin:hover {
  text-decoration: underline;
  /* background-color: rgba(22,111,229,0.4); */
  background-color: #166fe5;
}
.tblContentDang {
  width: 1130px;
}


.Public {
  margin-right: 5px;
}

.TenNgDangStt {
  font-size: inherit;
}

.imgPstt {
  width: 100%;
}
.ml-auto1{
  width: auto !important;
  margin-left: unset!important;
}

.mainWall {
  width: 612px;
  margin-top: 50px;
}


.CheckBoxNF {
  margin: unset;
  position: relative;
  left: 0;
  top: 0;
}

.ImageStatus {
  height: fit-content;
  margin-left: unset;
  margin-right: 10px;
  padding: unset;
  border-color: black;
}

.IMGStatus {
  border-radius: 50%;
  border-right-style: solid;
  border: whitesmoke;
}
.padding5{
  padding: 5px;
}
.pnStatus {
    display: flex;
    padding: 5px;
    border-color: whitesmoke;
  }

.ImageNF {
  border-radius: 50%;
}


p{
  font-size: 24px; 
}

.bodyPanel{
  padding-top: 5px;
}
hr{
  margin-top:  5px;
  margin-bottom: 5px;
}
h5
{
  font-size: 14px;
  margin-top: unset;
  margin-bottom: unset;
}
.dateOfBirth:hover{
background-color: unset !important;
}
.LblIconNF:hover {
  text-decoration: underline;
  color: blue;
}

.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"],
.radio input[type="radio"],
.radio-inline input[type="radio"] {
  margin-top: 1.15%;
  width: 15px;
  height: 15px;
}

/*===========================ý a ============*/

/*HeaderNF*/

.navbar-inverse {
  background-color: #4267b2;
  margin-bottom: unset;
}

.navbar-inverse .navbar-brand {
  color: #ffffff;
}
.btnMess{
  padding: unset;
  padding-top: 12px;
}
*/ .PublicOrNot {
  align-items: flex-end;
}
.navbar-inverse .navbar-nav > li > a {
  color: #ffffff;
}

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > .active > a:hover {
  background-color: unset;
}

.imageChat{
  width: 28px;
  float: left;
  height: 28px;
  border-radius: 100%;
  margin-right: 5px;
}
.modal-header{
  padding-bottom: 3px;
}
.imgTags{
  height: 25px;
  width: 25px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.btnInfo {
  margin-top: 9px;
  margin-bottom: 2px;
  padding: unset;
  width:auto;
}
.textHeader {
  margin: 8px 0;
  padding-right: 5px;
  padding-left: 5px;
}
.avatarProfile
{
  border: 4px solid darkgrey  ;
  min-width: 50px;
  min-height: 50px;
  height: 10vw;
  width: 10vw;
  position: absolute;
  left: 0;
  bottom: 0;
}
.btnAddCover
{
  position: absolute;
  margin-left: 20px;
 min-width: 30px ;
 min-height: 30px;
  margin-top: 15px;
  border: rgba(28, 30, 21, 0.4);
  background-color: rgba(28, 30, 21, 0.4);
  /* #1c1e21   */
  background-image: url(./HinhAnh/camera.png);
  background-repeat: no-repeat;
  background-position: left;
  /* #e6e6e6; */
}
.btnAddCover:hover{
  background: rgba(28, 30, 21, 0.6);
  background-image: url(./HinhAnh/camera.png);
  background-repeat: no-repeat;
  background-position: left;
  padding-left: 30px;
  text-decoration: underline;
  color: white;
}
.iconInfoSetting
{
  background-position: 0 -938px;
  bottom: 1px;
    position: relative;
    vertical-align: middle;
}
.addFriendimg{
  margin:unset;
   width:15px; height:15px; float:left;
   margin-top:5px; 

}
.h3Table{
  padding:10px;
}
h3{
  font-weight: 600;
  margin: unset;
  padding: 0;
  width: auto;
}