.outerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: rgba(0,0,0,.3);
  
}

.container1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  background: #FFFFFF;
  padding-top: 50px;
  height:100%;
  width: 75%; 
  border-left: 1px solid rgba(0, 0, 0, .10);
}
.container2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #FFFFFF;
  padding-top: 50px;
  height:100%;
  width: 25%;
}
/* @media (min-width: 320px) and (max-width: 480px) {
  .outerContainer {
    height: 100%;
  }

  .container1 {
    width: 100%;
    height: 100%;
  }
}

@media (min-width: 480px) and (max-width: 1200px) {
  .container1 {
    width: 60%;
  }
} */
*{
  margin: unset;
}
/* .react-scroll-to-bottom--css-kyhfn-1tj0vk3{

} */
