.form1 {
  display: flex;
  margin: unset;
  border-top: 2px solid #D3D3D3;
  position: relative;
}

.input1 {
  border: none;
  border-radius: 0;
  padding: 9px;
  min-height: 18px;
  resize: none;
  max-height: 158px;
  overflow-y: auto;
  width: calc(100% - 52px);
  font-size: 14px;
}

.input1:focus, .textarea1:focus, .select1:focus{
  outline: none;
} 

.sendButton {
  color: #fff !important;
  text-transform: uppercase;
  text-decoration: none;
  background: #2979FF;
  position: absolute;
  right: 0px; bottom: 0; width: 36px; height: 36px;
  display: inline-block;
  border: none;
  margin-right: 8px;
}