.joinOuterContainer {
  display: flex;
  justify-content: center;
  text-align: center;
  height: 100vh;
  position: relative;
  align-items: center;
}
.heading1{
  position: absolute;
    left: 0;
    display: block;
    top: 0;
    text-align: left;
    padding: 10px 0;
    margin: unset;
  width: 100%;
}
.heading1 h1{
  margin: unset;
}
.joinInnerContainer {
  width: 20%;
}

.joinInput {
  border-radius: 0;
  padding: 15px 20px;
  width: 100%;
}


.button1 {
    color: #fff !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #2979FF;
    padding: 20px;
    border-radius: 5px;
    display: inline-block;
    border: none;
    outline: 0;
    width: 100%;
}

.mt-20 {
  margin-top: 20px;
}
.search-form {
  padding: 1.5rem;
  overflow: hidden;
  display: flex;
  align-items: center;
  width: 90%;
  position: absolute;
  top: 60px;
  background-color: rgba(0, 0, 0, .1);
  border-radius: 50px;
  font-size: 15px;
  height: 36px;
  text-align: left;
}

.search-form__icon {
  color: #999;
  flex-shrink: 0;
}

.search-form__input {
  padding: 05px;
  outline: unset;
  border: unset;
  flex: 1;
  background-color: transparent;
}
.message-friend-group{
  position: absolute;
  top:100px;
  width: 100%;
  height: calc(100% - 100px);
 overflow-y: auto;
  overflow-x: hidden;
}
.message-friend{
width: 100%;
text-align: left;
padding: 5px 15px;
background-color: transparent;
border-radius: 10px;
margin-bottom: 2px;
position: relative;
}

.avatar-message{
  width: 50px; height: 50px; border-radius: 100%; margin-right: 12px;
}
.content-message{
  position: absolute;
  top: 0;
  left: 80px;
  padding: 7px 0;
  color: black;
  justify-content: center;
  font-family: Helvetica Neue, Segoe UI, Helvetica, Arial, sans-serif;
  font-size: 14px;

}
.recent-message{
  color: rgb(153,153,153);
  max-width: 232px;
  float: left;
  overflow: hidden;
  height: 18px;
  text-overflow: ellipsis;
  white-space: pre;
  font-size: 14px;
  font-weight: 400;
}
.chat-hover{
  overflow: hidden;
  padding-bottom: 10px;
}
.chat-hover:hover{
  background-color: rgba(0, 0, 0, .1);
}