.smallAvatar{
    width: 80px;
    height: 80px;
    box-sizing: border-box;
    border: 1px solid black;
    float: left;
    margin: unset;
    margin-right: 5px;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
}
.smallUsername{
    font-size: 1.15vw;
    font-weight: 700;
}
.blockFriend{
    padding: 16px;
    margin: 5px 2px;
    width: calc(50% - 4px);
    float: left;
    border-bottom-right-radius: 8px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border: lightgrey 1px solid;

}
.btnFriendList{
    float: right;
     background-color: #E4E6EB;
     font-weight: bold;
    font-size: 16px;
   font-family: 'emoji';
}
.btnAddFriend{
    z-index: 10;
    color: black;
  float: right;
  max-width: max-content;
  position: relative;
    right: 15vw ;
    font-weight: 700;
  border: none;
  line-height: 5vh;
  padding: 0px 5px;
  border-radius: 4px;
  /* bottom: 50px; */
  margin-top: -8vh;
}
.addfriendImg{
    width:16px;
    height:16px; 
    margin: unset;
    margin-top: 10px;
    margin-right: 5px; float: left;
}
.btnMessenger{
    right: 8vw;
    padding: unset !important;
    width: max-content;
    padding-left: 5px !important;
    padding-right: 5px !important;
}
.mainwallProfile{
    width: 65%;
    margin-left: 10%;
    margin-top: 50px;
}
  
.CoverProfile{
    max-height: 425px;
    max-width: 100%;
    display: block;
    background-position: center;
}
.Facebook-timelineSection{
    height: fit-content;
}

.imgCover{
    width: 100%;
    height: 100%;
}
.NameAccount{
    position: absolute;
    z-index: 10;
    padding: 0 5px;
    line-height: 5vh;
    margin-left: 12vw;
    margin-top: -8vh; 
    float: left;
    color: #fff;
    font-weight: bold;
    text-decoration: wavy;
    font-size: 1vw;
}

.btnSettingINFO:hover{
    background: rgba(28, 30, 21, 0.6);
    color: white;
}
.btnSettingINFO{
    color: white;
    font-size: 1vw;
    float: right;
    max-width: max-content;
    position: absolute;
    border: none;
    background-color: rgba(0, 0, 0, .4);
    line-height: 5vh;
    padding: 0px 5px;
    border-radius: 4px;
    /* bottom: 50px; */
    margin-left: 35vw;
    margin-top: -8vh;
    z-index: 10;
}
  
.avatarProFilePage{
    left: 15px;
    top: 30px;
    position: relative;
    z-index: 100;
}
.btnChangeAva, .btnChangeAva:hover, .btnChangeAva:focus
  {
    border-bottom-left-radius: 80px;
    border-bottom-right-radius: 80px;
    height: 4.75vw;
    text-align: center;
    position: absolute;
    margin-top: -8%;
    left: 3.5px;
    color: white;
    width: 9.5vw;
    background-color: rgba(0, 0, 0, .8);
    border: unset;
    font-weight: 700;
    padding: unset;
    padding-top: 6px;
    font-size: 1vw;
}
.NAVinTimeline{
    max-width: 100%;
    padding-left: 21.4vw;
    margin: unset;
    min-height: fit-content;
    background: white;
    border-top: unset;
    border-bottom: unset;
    font-size: 1vw;
}

.btnSaveCover{
    float: right;
    background-color: #4267b2;
    border-color: #4267b2;
    color: #fff;
    line-height: 26px;
    text-align: left;
}
.lblCongKhaiCover{
    background: white;
    width: fit-content;
    background-image: url(../HinhAnh/Public.png);
    background-position: left;
    background-repeat: no-repeat;
    background-size: 20px;
    padding-left: 25px;
    margin-right: 10px;
    padding-top: 6px;
    color: #4b4f56;
}
.btnHuyCover
{
  background-color: #f5f6f7;
  border: 1px solid #ccd0d5;
  color: #4b4f56;
  margin-right: 10px;
}

.ulNavTimeline{
    height: fit-content !important;
}

.tagAinTimeLine{
    border-left: solid 1px;
    padding: 10px!important;
    border-color: rgba(0, 0, 0, 0.1);
    text-decoration: none;
    color: #385898;
}
.tagVideoTimeline
{
  border-right: 1px solid;
  border-color: rgba(0, 0, 0, 0.1);
}

.divBTNSaveCover{
    padding-top: 5px;
}
.row1Intro{
    position: relative;
    margin-left: auto;
    border: 1px solid #dddfe2;
    background-color: white;
    padding-top: 12px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.divImageIntroHeader{
    padding-right: 01px;
    width: auto;
}
.imageIntro{
    width: 2vw;
}
#btnScrollUp{
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: rgba(0, 0, 0, 0.25);
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
  }
