.sttBtnCap,
.trangThaiContent,
.sttBtnCapImg {
  background-color: transparent;
  color: #4b4f56;
  font-size: 13px;
  border: none;
  cursor: pointer;
}

.btnPublic,
.btnFriend,
.btnPrivate {
  width: 100%;
  border: unset;
  background-color: transparent;
  text-align: left;
  padding-left: 8%;
  padding-bottom: 8%;
  padding-top: 8%;
}

.btnPublic:hover,
.btnFriend:hover,
.btnPrivate:hover {
  background-color: rgba(0, 0, 0, 0.3);
}
.TxtStatus {
  width: 85%;
  min-height: 66px;
  max-height: max-content;  
  resize: unset;
  max-width: 100%;
  padding-left: 5px;
  border-style: unset;
  border-color: black;
}
.scrollHorizontal{
  overflow: auto;
  white-space: nowrap;
}
.scrollHorizontal img {
  display: inline-block ;
}
.padding5px{
  margin-top: 10px;
  padding: 0 0px 0 11px;
}

.tableTagsName{
  width: 90%;
  margin-bottom: 10px;
  margin-left: 4%;
}

.tdTagsName{
  width: 5%;
  padding: unset;
}
.divHaveVoi{
  padding: 8px 6px 6px 8px;
  background-color: #e2e8f6;
  font-size: 14px;
}
.CungVoiAi{
  font-size: 14px;
 border:unset;
 width: 100%;
 padding: 8px 6px 6px 8px;
}
.btnInfoStt{
  padding: unset;
  width: auto;
  position: relative;
  margin-left : 8px;
}

.imgAddIMG
{
  height: 25px;
  width: 25px;
  left: 6px;
  top: 2px;
  position: absolute;
}
.alignRight{
  width: fit-content;
  margin: unset;
  margin-right: 10px;
  float: right;
}

.btnDangSTT {
  padding-left: unset;
  width: 100%;
  background-color: #4267b2;
  height: 28px;
  color: #ffffff;
}
.btnAddimgVid
{
  margin-top: unset !important;
  padding: 0 15px 0 35px;
  height: 32px;
  float: left;
  line-height: 32px;
  display: block;
  width: auto;
}
.sttBtnCap {
  font-weight: 700;
  padding: 6px 12px;
  padding-top: 7px;
}
.sttBtnCap:hover , .sttBtnCap:active , .sttBtnCap:focus
{
  color: black !important;
}
.progress1{
  height: 10px ;
   width: 80%;
   margin-left: 9%;
   margin-bottom: 10px;
   margin-top: 10px;
}