.ImageProfile {
    margin-top: 10px;
    border-radius: 100%;
}
.InfoComment{
    background-color: #f2f3f5;
    border-radius: 18px;
    box-sizing: border-box;
    color: #1c1e21;
    display: inline-block;
    line-height: 16px;
    margin: 0;
    max-width: 100%;
    word-wrap: break-word;
    position: relative;
    white-space: normal;
    padding:8px 10px
}
.txtCmt{
    border-radius: 16px;    
    font-size: 14px;
    margin-top: inherit;
    height: fit-content;
    resize: unset;
}
.InfoCaption
{
    padding: unset;
}
.ImgHeadingSTT{
  cursor: pointer;
    width: unset;
    margin-right: 3px;
    padding: unset;
    padding-top: 4px;
}
.NameAndStatus{
    padding-left: 1px;
    margin-top: 4px;
}
.h5-btnLike, .h5-btnCmt, .h5-btnShare ,.lblTgianDang
{
  color: #606770 ;
  font-size: 1vw;
}
.lblTgianDang{
  padding: 0 5px 0 0;
  font-size: 10px!important;
}
.lblTgianDang:hover{
  text-decoration: underline;
}
.h5-btnLiked{
  color: blue;
}
.btnLike,.btnCmt,.btnShare 
{
  width: 33.33%;
  padding-top: 10px;
  border-style: solid;
  border-color: white;
  padding-bottom: 10px;
}
.StatusofCaptionContent {
    display: none;
    margin-left: 19px;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}
.StatusofCaptionContent a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.StatusofCaptionContent a:hover {
    background-color: #f1f1f1;  
}

.StatusofCaption:hover .StatusofCaptionContent {
    display: block; 
}
.StatusofCaption:hover .dropbtn {
    background-color: rgba(255, 255, 255, 0.555);
}
.StatusofCaption {
    position: relative;
    display: inline-block;
    color: black;
}
.sttBtnCap,
.trangThaiContent,
.sttBtnCapImg {
  background-color: transparent;
  color: #4b4f56;
  padding: 10px;
  font-size: 13px;
  border: none;
  cursor: pointer;
}
.sttBtnCapImg {
    display: inline-flex;
    width: min-content;
    padding: unset;
    text-align: left;
}

.btnPublic,
.btnFriend,
.btnPrivate {
  width: 100%;
  border: unset;
  background-color: transparent;
  text-align: left;
  padding-left: 8%;
  padding-bottom: 8%;
  padding-top: 8%;
}

.btnPublic:hover,
.btnFriend:hover,
.btnPrivate:hover {
  background-color: rgba(0, 0, 0, 0.3);
}
#userLikes:hover{
    text-decoration: none;
}
.btnLike:hover,
.btnCmt:hover,
.btnShare:hover {
  background-color: rgba(0, 0, 0, 0.25);
}
.LikeActive{
  text-decoration: blue;
}
.imgOfInfo
{
  width: fit-content;
  height: fit-content;
  margin-right: 3px;
  padding-top: 4px;
  padding-left: unset;
  padding-right: 5px;
}
.txtcmttus{
    margin-top: 10px; 
  }