.chatUserName{
    padding:8px; display:flex;
    border-bottom: 1px solid #ebedf0;   
    align-items: center;
}
.chatName{
    flex: 1;
    min-width: 0;
    width: 0;
}
.optionChat{
    width: 20px;
    height: 20px;
    background-position: 0 0;
    left: 4px;
    top: 4px;
    border: 0;
    display: inline-block;
    vertical-align: top;
    background-image: url(../HinhAnh/MAzAXJBenY9.png);
    background-size: 22px 132px;
    background-repeat: no-repeat;

}
.selectBtn{
    background: none;
    border: none;
    position: relative;
    right: 30px;
    text-indent: -1000px;
    vertical-align: top;
    width: 28px;
    
}